@import url("list-contacts.css");
@import url("list-messages.css");
@import url("add-contact.css");
@import url("send-message.css");
@import url("animation.css");
@import url("media-query.css");

* {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix:after {
    display: block;
    height: 0;
    width: 0;
    content: '';
    clear: both;
}

i, span, a {
    display: inline-block;
}

i {
    padding: .5em;
}

#ctrls-wrapper {
    background: #585858;
    height: 3em;
}

#ctrls-wrapper div {
    box-shadow: inset 3px -3px 7px #3a3a3a;
    color: white;
    cursor: pointer;
    padding: .75em;
    text-align: center;
}

#ctrls-wrapper div.active {
    background: white;
    color: #484848;
    box-shadow: none;
}

.main-block {
    display: none;
}

.msg-box {
    text-align: center;
    padding: 2em 1em;
    color: #999;
    letter-spacing: 1px;
    text-align: right;
}

.main-block.active {
    display: block;
}